@import '../../styles/colors';
@import '../../styles/global';
@import '../../styles/mixins';

.nav-header {
  position: relative;
  height: $nav-height;
  background-color: $white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;

  padding-right: 1em;
  .nav-trigger {
    /* menu icon - visible on small screens only */
    position: absolute;
    top: 0;
    right: 0;
    height: $nav-height;
    width: $nav-height;
    /* replace text with icon */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;

    span,
    span::after,
    span::before {
      /* these are the 3 lines of the menu icon */
      position: absolute;
      background-color: $dark;
      height: 3px;
      width: 26px;
    }

    span {
      @include center;
      transition: background-color 0.3s;
    }

    span::after,
    span::before {
      content: '';
      left: 0;
      transition: transform 0.3s;
    }

    span::before {
      transform: translateY(-9px);
    }

    span::after {
      transform: translateY(9px);
    }
  }

  &.nav-open .nav-trigger span {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav {
    display: none;
    .selected {
      border-bottom: solid 3px $liv-orange !important;
      a {
      color: $liv-orange !important;
      }
    }
  }

  .logo-img {
    object-fit: fill;
    width: 150px;
    height: $nav-height;
    vertical-align: middle;
    padding: 15px;
  }

  .left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .mobile-logo {
    height: auto;
    line-height: $nav-height;
    margin-left: 1em;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1em;
  }

  .dropdown-wrapper {
    display: none;
    position: absolute;
    top: $nav-height;
    left: 0;
    width: 100%;
    padding: 1.2em 5%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: $white;
  }

  &.nav-open .dropdown-wrapper {
    display: block;
  }

  .dropdown-list > ul > li {
    margin-bottom: 1.5rem;
  }

  .mobile-label {
    display: block;
    font-size: 18px;
    color: $dark;
    margin-bottom: 0.5em;
    text-decoration: none !important;
  }

  .button-link {
    cursor: pointer;
    border: none;
    background-color: white;
    &:focus {
      outline: none;
    }
  }

  .nav-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  .dropdown-menu {
    top: -15px !important;
    left: -10px !important;
  }

  @include MQ(M) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    text-align: center;

    .nav-trigger,
    .mobile-logo {
      display: none;
    }

    .main-nav {
      display: inline-block;
    }

    .main-nav > ul > li {
      display: inline-block;
    }

    .main-nav > ul > li > a {
      font-weight: 600;
      display: block;
      padding: 0 1em;
      height: $nav-height;
      line-height: $nav-height;
      color: $grey;
      transition: opacity 0.2s;
      text-decoration: none !important;
    }

    .mobile-label {
      display: none;
    }

    .dropdown-wrapper {
      display: none !important;
    }
  }
}
