@import '../../styles/colors';

.form-field-container {
  margin-bottom: 1rem;
}

.form-field {
  width: 270px;
  padding: 0.25rem;
  border: 1px solid $light-gray;
  border-radius: 3px;
}

.error-field {
  border: 1px solid $error;
}

.error-text {
  color: $error;
  font-size: 11px;
}
